.App {
  display: flex;
  gap: 25px;  
}
.column {
  flex-basis: 50%;
}
.column  ul{
  list-style: none;
}
ul.elemList {
  margin-top: 0;
}
.elemList li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
}
.elemList li:hover {
  background-color: #ececec;
  
}